<h1>Plots Index</h1>
<table >
  <tr>
    <th>name</th>
  </tr>
  <% @plots.each do |plot| %>
    <tbody id="plot<%=plot.id%>">
      <% plot.plant_plots.each do |pplot| %>
        <tr>
          <td>
            <%= pplot.plant.name%>
          </td>
          <td>
            <%= link_to "delete",plant_plot_path(id: pplot.id), action: :destroy%>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
