<h1>Plots Index</h1>
<table >
  <tr>
    <th>name</th>
  </tr>
  <% @plots.each do |plot| %>
    <tbody id="plot<%=plot.id%>">
      <tr> 
        <td><%= plot.number %></td>
      </tr>
      <% plot.plant_plots.each do |pplot| %>
        <tr>
          <td>
            <%= pplot.plant.name%>
          </td>
          <td>
            <%= link_to "delete", pplot , method: "delete", id: "del-#{pplot.id}"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
